<div class="content">
<h1>Empresas</h1>
{{#each listagem}}
    <div class="textContent">
    <p class="text">
    Razao Social: {{dataValues.razaoSocial}}  ID:{{dataValues.id}}<br>
    Endereço: {{dataValues.endereco}}<br>
    Nome: {{dataValues.nome}} {{dataValues.email}}
    </p>
    <a href="/delete/{{dataValues.id}}"><button class="excluirBtn">Excluir</button></a>
    </div>
{{/each}}
    <div class="center-button">
        <a href="/cadastrarNovo"><button class="cadastrarBtn">Cadastrar uma nova empresa</button></a>
    </div>
</div>

